/* CSS Reset Properties */
body,main,article,section,header,footer {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav a {
    flex-grow: 1;
    text-align:center;
    color:white;
    text-decoration: none;
    border:white 2px solid;
    padding:5px;
}
nav a:hover {
    color:black;
    background-color: white;
}

body {
    padding:100px;
    font-size:16px;
    background-color: black;
    color:white;
}
section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding:5px;
}

/* individual classes for section background images */
.em {
    background-image: url(../images/water1.jpg);
    border:solid darkorange 1em;
    font-size:1.2em;
}
.rem {
    background-image: url(../images/water2.jpg);
    border:dotted darkred .5rem;
}
.percent {
    background-image: url(../images/water3.jpg);
}
.percent p {
    width:75%;
}
.box {
    background-image: url(../images/water4.jpg);
    box-sizing: border-box;
    border:solid dodgerblue 3em;
}
.vw {
    background-image: url(../images/water5.jpg);
    border:dashed 1vw;
    font-size: 1vw;
    box-sizing:border-box;
}
.hero {
    border-top-right-radius: 2em;
}
.hero p {
    width: 90%;
}